## LIMPIEZA Y FUNCIONES

In [1]:
# Instalaciones necesarias
! pip install word2number

Requirement already satisfied: word2number in /home/beatrizsr/anaconda3/lib/python3.9/site-packages (1.1)

In [2]:
# Importaciones necesarias
import pandas as pd 
import numpy as np
from word2number import w2n

In [3]:
# Apertura del documento 
df_data = pd.read_csv("../DATA/DATA.csv", index_col= 0)

## Eliminar columnas

In [4]:
# Eliminacion de las columnas, tras la exploracion de los datos
df_data1= df_data.drop(columns= ["SameAsMonthlyIncome", "Salary", "NUMBERCHILDREN","RoleDepartament", "employeecount", "Over18", "DateBirth", "YearsInCurrentRole"], axis=1, inplace=False)

## Renombrar columnas

In [5]:
df_data1.columns = [col.upper() for col in df_data1.columns]

In [6]:
df_data1

,AGE,ATTRITION,BUSINESSTRAVEL,DAILYRATE,DEPARTMENT,DISTANCEFROMHOME,EDUCATION,EDUCATIONFIELD,EMPLOYEENUMBER,ENVIRONMENTSATISFACTION,...,RELATIONSHIPSATISFACTION,STANDARDHOURS,STOCKOPTIONLEVEL,TOTALWORKINGYEARS,TRAININGTIMESLASTYEAR,WORKLIFEBALANCE,YEARSATCOMPANY,YEARSSINCELASTPROMOTION,YEARSWITHCURRMANAGER,REMOTEWORK
0,51,No,NaN,"684,0$",NaN,6,3,NaN,"162,0",1,...,3,NaN,0,NaN,5,"3,0",20,15,15,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,"259,0",3,...,1,NaN,1,"34,0",5,"3,0",33,11,9,1
2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,"319,0",3,...,4,NaN,0,"22,0",3,NaN,22,11,15,1
3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,NaN,1,...,2,NaN,2,NaN,2,NaN,20,5,6,False
4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,NaN,1,...,4,NaN,1,NaN,5,"3,0",19,2,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,36,Yes,travel_rarely,"530,0$",NaN,3,1,Life Sciences,"967,0",3,...,1,NaN,1,NaN,6,"3,0",16,3,7,0
1610,45,No,non-travel,"805,0$",NaN,4,2,NaN,"972,0",3,...,2,NaN,0,NaN,5,"2,0",9,0,8,1
1611,39,No,travel_rarely,"903,0$",NaN,-13,5,NaN,NaN,13,...,4,NaN,0,"9,0",3,"3,0",8,0,7,Yes
1612,36,No,non-travel,"1229,0$",NaN,8,4,Technical Degree,"990,0",1,...,4,NaN,2,"12,0",3,"3,0",7,0,7,True
1613,46,No,NaN,"566,0$",NaN,7,2,Medical,NaN,4,...,2,NaN,1,NaN,3,"3,0",8,0,7,0

## Guardar CSV

In [7]:
df_data1.to_csv("../DATA/data1.csv")

## Apertura CSV

In [56]:
# Apertura del documento 
df_data2 = pd.read_csv("../DATA/data1.csv", index_col= 0)

In [9]:
df_data2

,AGE,ATTRITION,BUSINESSTRAVEL,DAILYRATE,DEPARTMENT,DISTANCEFROMHOME,EDUCATION,EDUCATIONFIELD,EMPLOYEENUMBER,ENVIRONMENTSATISFACTION,...,RELATIONSHIPSATISFACTION,STANDARDHOURS,STOCKOPTIONLEVEL,TOTALWORKINGYEARS,TRAININGTIMESLASTYEAR,WORKLIFEBALANCE,YEARSATCOMPANY,YEARSSINCELASTPROMOTION,YEARSWITHCURRMANAGER,REMOTEWORK
0,51,No,NaN,"684,0$",NaN,6,3,NaN,"162,0",1,...,3,NaN,0,NaN,5,"3,0",20,15,15,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,"259,0",3,...,1,NaN,1,"34,0",5,"3,0",33,11,9,1
2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,"319,0",3,...,4,NaN,0,"22,0",3,NaN,22,11,15,1
3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,NaN,1,...,2,NaN,2,NaN,2,NaN,20,5,6,False
4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,NaN,1,...,4,NaN,1,NaN,5,"3,0",19,2,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,36,Yes,travel_rarely,"530,0$",NaN,3,1,Life Sciences,"967,0",3,...,1,NaN,1,NaN,6,"3,0",16,3,7,0
1610,45,No,non-travel,"805,0$",NaN,4,2,NaN,"972,0",3,...,2,NaN,0,NaN,5,"2,0",9,0,8,1
1611,39,No,travel_rarely,"903,0$",NaN,-13,5,NaN,NaN,13,...,4,NaN,0,"9,0",3,"3,0",8,0,7,Yes
1612,36,No,non-travel,"1229,0$",NaN,8,4,Technical Degree,"990,0",1,...,4,NaN,2,"12,0",3,"3,0",7,0,7,True
1613,46,No,NaN,"566,0$",NaN,7,2,Medical,NaN,4,...,2,NaN,1,NaN,3,"3,0",8,0,7,0

# Comprobación por columnas

In [20]:
# Comprobación de la columna Age
lista_age = df_data2["AGE"].to_list()

In [21]:
lista_age

['51',
 '52',
 '42',
 '47',
 '46',
 '48',
 '59',
 '42',
 '41',
 '41',
 '41',
 '56',
 '38',
 '41',
 '55',
 '40',
 '58',
 '46',
 '35',
 '40',
 '45',
 '33',
 '36',
 '47',
 '36',
 '35',
 '52',
 '36',
 '33',
 '34',
 '41',
 'forty-seven',
 '53',
 '35',
 '34',
 '46',
 '43',
 '36',
 '60',
 '40',
 '32',
 '41',
 '53',
 '36',
 '46',
 '38',
 '51',
 '43',
 '37',
 '32',
 '38',
 '46',
 '35',
 '43',
 '56',
 '36',
 '38',
 '49',
 '39',
 '40',
 '36',
 '37',
 '35',
 '33',
 '50',
 '48',
 '44',
 '44',
 '40',
 '34',
 '35',
 '50',
 '49',
 '38',
 '33',
 '47',
 '38',
 '37',
 '30',
 'fifty-eight',
 '34',
 '58',
 '38',
 '29',
 '55',
 '41',
 '39',
 '38',
 '43',
 '31',
 '50',
 '35',
 '47',
 '35',
 '40',
 '45',
 '33',
 '36',
 '45',
 '51',
 '34',
 '43',
 '34',
 '38',
 '48',
 '34',
 '32',
 '29',
 '46',
 '30',
 '45',
 '30',
 '30',
 '34',
 '51',
 '34',
 '35',
 '45',
 '39',
 '31',
 '39',
 '45',
 '30',
 '31',
 '36',
 '36',
 '55',
 '35',
 '42',
 '52',
 '49',
 '34',
 '33',
 '33',
 '53',
 '49',
 '35',
 '38',
 '46',
 '36',
 '42',
 '34',
 '30',
 '54',
 '31',
 '44',
 '55',
 '44',
 '34',
 '39',
 '55',
 '51',
 '58',
 '48',
 '29',
 '34',
 '42',
 '57',
 '34',
 '54',
 '34',
 '29',
 '35',
 '35',
 '34',
 '43',
 '58',
 '36',
 '43',
 '55',
 '42',
 '40',
 '56',
 '39',
 '53',
 '27',
 '30',
 '35',
 '32',
 '30',
 '46',
 '30',
 '32',
 '35',
 '32',
 '41',
 '40',
 '45',
 '32',
 '30',
 '37',
 '37',
 '40',
 '36',
 '32',
 '38',
 '30',
 '39',
 '60',
 '30',
 '31',
 '33',
 '50',
 '32',
 '42',
 '49',
 '27',
 '33',
 '52',
 '32',
 '36',
 '31',
 '36',
 '52',
 '33',
 '45',
 'thirty-six',
 '49',
 '29',
 '29',
 '37',
 '33',
 '34',
 '28',
 '31',
 '42',
 '40',
 '34',
 '58',
 '31',
 '40',
 '53',
 '34',
 '35',
 '37',
 '42',
 '45',
 '30',
 '38',
 '50',
 '39',
 '34',
 '54',
 '41',
 '39',
 '40',
 '33',
 '36',
 '33',
 '34',
 '29',
 '46',
 '27',
 '31',
 '45',
 '34',
 '31',
 '35',
 '39',
 '40',
 '30',
 '47',
 '52',
 '49',
 '33',
 '32',
 '38',
 '36',
 '42',
 '31',
 '31',
 '51',
 '34',
 '36',
 '30',
 '33',
 '31',
 '41',
 '26',
 '32',
 '40',
 '53',
 '29',
 '36',
 '33',
 '51',
 '27',
 '37',
 '38',
 '49',
 '27',
 '45',
 '35',
 '33',
 '52',
 '40',
 '38',
 '46',
 '45',
 '47',
 '35',
 '29',
 '55',
 '26',
 '31',
 '43',
 '31',
 '32',
 '33',
 '43',
 '29',
 '27',
 '29',
 '37',
 '26',
 '40',
 '41',
 '51',
 '37',
 '56',
 '41',
 '46',
 '30',
 '35',
 '48',
 '45',
 '26',
 '41',
 '34',
 '31',
 '43',
 '53',
 '37',
 '54',
 '38',
 '29',
 '34',
 '39',
 '32',
 '38',
 '27',
 '32',
 '47',
 '27',
 '41',
 '28',
 '36',
 '30',
 '56',
 '45',
 '36',
 '29',
 '38',
 '40',
 '42',
 '36',
 '29',
 'fifty-five',
 '28',
 '26',
 '44',
 '41',
 '31',
 '26',
 '31',
 '32',
 '36',
 '45',
 '39',
 '36',
 '46',
 '54',
 '30',
 '26',
 '55',
 '50',
 '32',
 '53',
 '40',
 '55',
 '28',
 '28',
 '35',
 '33',
 '25',
 '38',
 '28',
 '43',
 '39',
 '40',
 '29',
 '40',
 '26',
 '35',
 '53',
 '35',
 '33',
 '36',
 '30',
 '60',
 '32',
 '36',
 '27',
 '43',
 '29',
 '59',
 '43',
 '44',
 '29',
 '32',
 '36',
 'fifty-two',
 '39',
 '34',
 '38',
 '36',
 '35',
 '55',
 '34',
 '43',
 '42',
 '26',
 '29',
 '54',
 '55',
 '40',
 'thirty-one',
 '46',
 '45',
 '49',
 '29',
 '29',
 '29',
 '40',
 '48',
 '53',
 '44',
 '45',
 '45',
 '34',
 '39',
 '27',
 '45',
 '44',
 '25',
 '49',
 '48',
 '26',
 '44',
 '36',
 '46',
 '35',
 '30',
 '30',
 '33',
 '32',
 '43',
 '31',
 '35',
 '35',
 '30',
 '46',
 '45',
 '43',
 '46',
 '40',
 '27',
 '42',
 '26',
 '28',
 '47',
 '34',
 '26',
 '27',
 '31',
 '33',
 '31',
 '35',
 '33',
 '39',
 '36',
 '41',
 '34',
 '38',
 '39',
 '34',
 '44',
 '46',
 '41',
 '39',
 '42',
 '33',
 '35',
 '33',
 '40',
 '41',
 '27',
 '52',
 '51',
 '47',
 '50',
 '35',
 '39',
 '39',
 '41',
 '44',
 '42',
 '52',
 '38',
 '46',
 '35',
 '28',
 '44',
 '50',
 '55',
 '39',
 '49',
 '45',
 '46',
 '27',
 '42',
 '49',
 '29',
 '34',
 '37',
 '36',
 '45',
 '29',
 '26',
 '28',
 '42',
 '31',
 '37',
 '37',
 '37',
 '24',
 '50',
 '34',
 '27',
 '25',
 '34',
 '34',
 '35',
 '35',
 '33',
 '29',
 '29',
 '34',
 '28',
 '44',
 '31',
 '26',
 '47',
 '37',
 '32',
 '32',
 '33',
 '47',
 '41',
 '35',
 '29',
 '32',
 '35',
 '56',
 '28',
 '25',
 '56',
 '26',
 '32',
 '30',
 '50',
 '32',
 '45',
 '43',
 '29',
 '31',
 '33',
 '31',
 '37',
 '50',
 '42',
 '27',
 '27',
 '41',
 '37',
 '40',
 '55',
 '26',
 '40',
 '25',
 '30',
 '52',
 '42',
 'thirty',
 '35',
 '31',
 '35',
 '25',
 '32',
 '47',
 '30',
 '45',
 '36',
 '31',
 '37',
 '39',
 '42',
 '30',
 '50',
 '59',
 '54',
 '56',
 '48',
 '39',
 '35',
 '42',
 '44',
 '29',
 '33',
 '54',
 '46',
 '30',
 '32',
 '40',
 '34',
 '39',
 '37',
 '33',
 '39',
 '52',
 '36',
 '36',
 '24',
 '34',
 '28',
 '33',
 '47',
 '40',
 '45',
 '40',
 '29',
 '40',
 '43',
 '30',
 '38',
 '37',
 '39',
 '36',
 '23',
 '35',
 '31',
 '38',
 '35',
 '40',
 '27',
 '41',
 '33',
 '49',
 '36',
 '41',
 '29',
 '31',
 '36',
 '43',
 '33',
 '44',
 '38',
 '50',
 '59',
 '40',
 '54',
 '50',
 '54',
 '24',
 '37',
 '30',
 '34',
 '57',
 '38',
 '41',
 '42',
 '34',
 '30',
 '29',
 '32',
 '25',
 '53',
 '26',
 '28',
 '28',
 '58',
 '27',
 '54',
 '40',
 '29',
 '50',
 '24',
 '30',
 '34',
 '33',
 '36',
 '41',
 '39',
 '26',
 '24',
 '27',
 '27',
 '50',
 '23',
 '39',
 '52',
 '26',
 '54',
 '37',
 '50',
 '42',
 '38',
 '25',
 '32',
 '25',
 '42',
 '33',
 '29',
 '38',
 '45',
 '31',
 '22',
 '59',
 '45',
 '45',
 '37',
 '26',
 '26',
 '28',
 '24',
 '30',
 '43',
 '30',
 '46',
 '42',
 '25',
 '27',
 '56',
 '41',
 '28',
 '52',
 '26',
 '49',
 '34',
 '32',
 '33',
 '29',
 '30',
 '23',
 '33',
 '35',
 '38',
 '28',
 '37',
 '24',
 '36',
 '38',
 '53',
 '37',
 '24',
 '29',
 '32',
 '42',
 '41',
 '44',
 '28',
 '39',
 '40',
 '37',
 '40',
 '26',
 '42',
 '34',
 '37',
 '27',
 '35',
 '28',
 '29',
 '54',
 '24',
 '38',
 '42',
 '41',
 '25',
 '44',
 '50',
 '36',
 '45',
 '40',
 '35',
 '29',
 '34',
 '27',
 '31',
 '34',
 '28',
 '32',
 '38',
 '24',
 '34',
 '32',
 '46',
 '44',
 '50',
 '35',
 '28',
 '26',
 '35',
 '35',
 '37',
 '46',
 '34',
 '51',
 '24',
 '44',
 '37',
 '59',
 '25',
 '43',
 '50',
 '31',
 '36',
 '51',
 '25',
 '38',
 '30',
 '22',
 '27',
 '28',
 '27',
 '56',
 '38',
 '31',
 '34',
 '50',
 '53',
 '35',
 '27',
 '40',
 '22',
 '40',
 '46',
 '30',
 '29',
 '54',
 '33',
 '52',
 '59',
 '32',
 '39',
 '32',
 '31',
 '33',
 '45',
 '42',
 '29',
 '25',
 '32',
 '28',
 '21',
 '37',
 '38',
 '26',
 '49',
 '31',
 '37',
 '31',
 '31',
 '31',
 '52',
 '28',
 '47',
 '29',
 '37',
 '23',
 '42',
 '30',
 '21',
 '57',
 '21',
 '31',
 '29',
 '27',
 '49',
 '36',
 '34',
 '24',
 '42',
 '54',
 '34',
 '43',
 '43',
 '31',
 '25',
 '45',
 '52',
 '34',
 '26',
 '29',
 '29',
 '46',
 '46',
 '30',
 '34',
 '42',
 '22',
 '29',
 '46',
 '32',
 '24',
 '35',
 '42',
 '48',
 '44',
 '34',
 '21',
 '44',
 '22',
 '26',
 '36',
 '27',
 '23',
 '25',
 '48',
 '24',
 '60',
 '50',
 '44',
 '47',
 '42',
 '43',
 '40',
 '29',
 '53',
 '23',
 '55',
 '26',
 '34',
 '27',
 '35',
 '30',
 '34',
 '52',
 '33',
 '35',
 '28',
 '36',
 '34',
 '34',
 '44',
 '32',
 '53',
 '22',
 '44',
 '35',
 '25',
 '49',
 '24',
 '38',
 '29',
 '43',
 '28',
 '20',
 '47',
 '22',
 '28',
 '39',
 '33',
 '36',
 '35',
 '31',
 '33',
 '27',
 '30',
 '24',
 '35',
 '30',
 '48',
 '41',
 '27',
 '35',
 '26',
 '33',
 '26',
 '38',
 '46',
 '20',
 '30',
 '27',
 '55',
 '33',
 '28',
 '34',
 '33',
 '33',
 ...]

In [22]:
# Reemplazamos los números escritos en letras e ingles por integers
def transformar_age(lista): 
    lista_anios = []
    
    for age in lista: 
        
        try:
            age = int(age)
            lista_anios.append(age)  
        except: 
            numero_entero = w2n.word_to_num(age)  
            lista_anios.append(numero_entero)  
    
    return lista_anios

In [23]:
anios = transformar_age(lista_age)
print(anios)
len(anios)

[51, 52, 42, 47, 46, 48, 59, 42, 41, 41, 41, 56, 38, 41, 55, 40, 58, 46, 35, 40, 45, 33, 36, 47, 36, 35, 52, 36, 33, 34, 41, 47, 53, 35, 34, 46, 43, 36, 60, 40, 32, 41, 53, 36, 46, 38, 51, 43, 37, 32, 38, 46, 35, 43, 56, 36, 38, 49, 39, 40, 36, 37, 35, 33, 50, 48, 44, 44, 40, 34, 35, 50, 49, 38, 33, 47, 38, 37, 30, 58, 34, 58, 38, 29, 55, 41, 39, 38, 43, 31, 50, 35, 47, 35, 40, 45, 33, 36, 45, 51, 34, 43, 34, 38, 48, 34, 32, 29, 46, 30, 45, 30, 30, 34, 51, 34, 35, 45, 39, 31, 39, 45, 30, 31, 36, 36, 55, 35, 42, 52, 49, 34, 33, 33, 53, 49, 35, 38, 46, 36, 42, 34, 30, 54, 31, 44, 55, 44, 34, 39, 55, 51, 58, 48, 29, 34, 42, 57, 34, 54, 34, 29, 35, 35, 34, 43, 58, 36, 43, 55, 42, 40, 56, 39, 53, 27, 30, 35, 32, 30, 46, 30, 32, 35, 32, 41, 40, 45, 32, 30, 37, 37, 40, 36, 32, 38, 30, 39, 60, 30, 31, 33, 50, 32, 42, 49, 27, 33, 52, 32, 36, 31, 36, 52, 33, 45, 36, 49, 29, 29, 37, 33, 34, 28, 31, 42, 40, 34, 58, 31, 40, 53, 34, 35, 37, 42, 45, 30, 38, 50, 39, 34, 54, 41, 39, 40, 33, 36, 33, 34, 29, 46, 27, 31, 45, 34, 31, 35, 39, 40, 30, 47, 52, 49, 33, 32, 38, 36, 42, 31, 31, 51, 34, 36, 30, 33, 31, 41, 26, 32, 40, 53, 29, 36, 33, 51, 27, 37, 38, 49, 27, 45, 35, 33, 52, 40, 38, 46, 45, 47, 35, 29, 55, 26, 31, 43, 31, 32, 33, 43, 29, 27, 29, 37, 26, 40, 41, 51, 37, 56, 41, 46, 30, 35, 48, 45, 26, 41, 34, 31, 43, 53, 37, 54, 38, 29, 34, 39, 32, 38, 27, 32, 47, 27, 41, 28, 36, 30, 56, 45, 36, 29, 38, 40, 42, 36, 29, 55, 28, 26, 44, 41, 31, 26, 31, 32, 36, 45, 39, 36, 46, 54, 30, 26, 55, 50, 32, 53, 40, 55, 28, 28, 35, 33, 25, 38, 28, 43, 39, 40, 29, 40, 26, 35, 53, 35, 33, 36, 30, 60, 32, 36, 27, 43, 29, 59, 43, 44, 29, 32, 36, 52, 39, 34, 38, 36, 35, 55, 34, 43, 42, 26, 29, 54, 55, 40, 31, 46, 45, 49, 29, 29, 29, 40, 48, 53, 44, 45, 45, 34, 39, 27, 45, 44, 25, 49, 48, 26, 44, 36, 46, 35, 30, 30, 33, 32, 43, 31, 35, 35, 30, 46, 45, 43, 46, 40, 27, 42, 26, 28, 47, 34, 26, 27, 31, 33, 31, 35, 33, 39, 36, 41, 34, 38, 39, 34, 44, 46, 41, 39, 42, 33, 35, 33, 40, 41, 27, 52, 51, 47, 50, 35, 39, 39, 41, 44, 42, 52, 38, 46, 35, 28, 44, 50, 55, 39, 49, 45, 46, 27, 42, 49, 29, 34, 37, 36, 45, 29, 26, 28, 42, 31, 37, 37, 37, 24, 50, 34, 27, 25, 34, 34, 35, 35, 33, 29, 29, 34, 28, 44, 31, 26, 47, 37, 32, 32, 33, 47, 41, 35, 29, 32, 35, 56, 28, 25, 56, 26, 32, 30, 50, 32, 45, 43, 29, 31, 33, 31, 37, 50, 42, 27, 27, 41, 37, 40, 55, 26, 40, 25, 30, 52, 42, 30, 35, 31, 35, 25, 32, 47, 30, 45, 36, 31, 37, 39, 42, 30, 50, 59, 54, 56, 48, 39, 35, 42, 44, 29, 33, 54, 46, 30, 32, 40, 34, 39, 37, 33, 39, 52, 36, 36, 24, 34, 28, 33, 47, 40, 45, 40, 29, 40, 43, 30, 38, 37, 39, 36, 23, 35, 31, 38, 35, 40, 27, 41, 33, 49, 36, 41, 29, 31, 36, 43, 33, 44, 38, 50, 59, 40, 54, 50, 54, 24, 37, 30, 34, 57, 38, 41, 42, 34, 30, 29, 32, 25, 53, 26, 28, 28, 58, 27, 54, 40, 29, 50, 24, 30, 34, 33, 36, 41, 39, 26, 24, 27, 27, 50, 23, 39, 52, 26, 54, 37, 50, 42, 38, 25, 32, 25, 42, 33, 29, 38, 45, 31, 22, 59, 45, 45, 37, 26, 26, 28, 24, 30, 43, 30, 46, 42, 25, 27, 56, 41, 28, 52, 26, 49, 34, 32, 33, 29, 30, 23, 33, 35, 38, 28, 37, 24, 36, 38, 53, 37, 24, 29, 32, 42, 41, 44, 28, 39, 40, 37, 40, 26, 42, 34, 37, 27, 35, 28, 29, 54, 24, 38, 42, 41, 25, 44, 50, 36, 45, 40, 35, 29, 34, 27, 31, 34, 28, 32, 38, 24, 34, 32, 46, 44, 50, 35, 28, 26, 35, 35, 37, 46, 34, 51, 24, 44, 37, 59, 25, 43, 50, 31, 36, 51, 25, 38, 30, 22, 27, 28, 27, 56, 38, 31, 34, 50, 53, 35, 27, 40, 22, 40, 46, 30, 29, 54, 33, 52, 59, 32, 39, 32, 31, 33, 45, 42, 29, 25, 32, 28, 21, 37, 38, 26, 49, 31, 37, 31, 31, 31, 52, 28, 47, 29, 37, 23, 42, 30, 21, 57, 21, 31, 29, 27, 49, 36, 34, 24, 42, 54, 34, 43, 43, 31, 25, 45, 52, 34, 26, 29, 29, 46, 46, 30, 34, 42, 22, 29, 46, 32, 24, 35, 42, 48, 44, 34, 21, 44, 22, 26, 36, 27, 23, 25, 48, 24, 60, 50, 44, 47, 42, 43, 40, 29, 53, 23, 55, 26, 34, 27, 35, 30, 34, 52, 33, 35, 28, 36, 34, 34, 44, 32, 53, 22, 44, 35, 25, 49, 24, 38, 29, 43, 28, 20, 47, 22, 28, 39, 33, 36, 35, 31, 33, 27, 30, 24, 35, 30, 48, 41, 27, 35, 26, 33, 26, 38, 46, 20, 30, 27, 55, 33, 28, 34, 33, 33, 21, 31, 35, 34, 33, 31, 37, 27, 35, 56, 45, 20, 50, 46, 32, 35, 29, 21, 34, 28, 35, 28, 28, 25, 58, 39, 30, 50, 41, 31, 44, 40, 25, 40, 51, 27, 35, 38, 31, 51, 41, 32, 25, 27, 27, 37, 35, 25, 30, 31, 36, 25, 56, 41, 31, 31, 48, 34, 44, 49, 44, 28, 44, 55, 28, 49, 29, 32, 31, 40, 36, 33, 30, 38, 48, 34, 38, 35, 23, 36, 34, 22, 32, 31, 36, 21, 47, 39, 40, 48, 35, 27, 27, 40, 29, 36, 49, 20, 36, 33, 49, 47, 20, 36, 44, 55, 23, 26, 32, 31, 41, 24, 36, 23, 24, 30, 31, 27, 29, 29, 53, 34, 51, 37, 46, 43, 41, 31, 28, 38, 58, 29, 47, 28, 32, 39, 55, 29, 35, 34, 56, 36, 31, 34, 31, 45, 39, 38, 31, 53, 38, 54, 23, 25, 31, 35, 22, 32, 32, 21, 36, 29, 32, 40, 35, 50, 26, 36, 27, 33, 36, 31, 22, 27, 33, 36, 37, 32, 51, 49, 35, 22, 33, 31, 45, 53, 34, 43, 28, 42, 27, 40, 37, 29, 38, 34, 34, 50, 26, 28, 28, 40, 19, 20, 40, 19, 59, 30, 45, 40, 30, 24, 32, 28, 49, 38, 46, 34, 39, 26, 54, 36, 32, 32, 28, 33, 37, 59, 30, 22, 21, 30, 39, 24, 35, 27, 26, 37, 35, 48, 35, 55, 45, 36, 36, 45, 55, 23, 32, 20, 37, 22, 34, 36, 19, 41, 19, 51, 58, 19, 19, 35, 38, 38, 41, 59, 50, 41, 45, 37, 51, 28, 29, 31, 38, 44, 36, 18, 36, 18, 39, 43, 47, 42, 32, 48, 42, 36, 33, 46, 21, 30, 30, 32, 40, 28, 38, 19, 57, 47, 54, 31, 18, 40, 26, 26, 38, 24, 30, 37, 20, 43, 38, 33, 30, 29, 20, 35, 37, 38, 29, 35, 38, 34, 23, 24, 29, 40, 30, 45, 27, 37, 32, 53, 37, 32, 58, 43, 21, 34, 58, 48, 32, 25, 40, 19, 20, 33, 58, 40, 29, 47, 18, 20, 42, 50, 37, 38, 36, 28, 43, 21, 51, 37, 28, 50, 34, 38, 42, 18, 41, 35, 32, 22, 44, 41, 40, 24, 42, 49, 48, 29, 48, 34, 19, 23, 25, 42, 51, 45, 27, 18, 31, 31, 31, 27, 39, 44, 30, 35, 24, 24, 28, 28, 33, 39, 42, 29, 35, 35, 34, 26, 36, 50, 42, 35, 46, 18, 29, 31, 41, 38, 32, 60, 24, 40, 30, 47, 32, 45, 34, 33, 31, 29, 30, 38, 43, 55, 21, 22, 37, 42, 18, 31, 36, 32, 29, 42, 29, 29, 28, 30, 22, 26, 44, 29, 28, 56, 39, 58, 42, 27, 38, 32, 31, 25, 40, 39, 23, 35, 34, 28, 29, 58, 38, 29, 55, 41, 39, 38, 43, 31, 50, 33, 26, 38, 46, 21, 31, 35, 34, 33, 31, 37, 27, 35, 56, 45, 43, 31, 35, 35, 30, 46, 45, 43, 46, 40, 27, 42, 26, 28, 31, 31, 31, 52, 28, 47, 29, 37, 23, 42, 30, 21, 57, 21, 31, 29, 27, 49, 36, 34, 24, 42, 54, 34, 43, 43, 31, 25, 45, 45, 47, 35, 29, 55, 26, 31, 43, 31, 32, 33, 43, 29, 27, 29, 37, 26, 40, 41, 51, 37, 56, 41, 46, 30, 35, 48, 45, 26, 41, 34, 31, 43, 53, 37, 54, 38, 29, 34, 39, 32, 38, 27, 32, 47, 27, 41, 28, 36, 30, 56, 45, 36, 29, 38, 40, 42, 36, 29, 55, 28, 26, 44, 41, 31, 26, 31, 32, 36, 45, 39, 36, 46]

1614

In [24]:
# Comprobación de la columna Attrition
lista_atr = df_data2["ATTRITION"].to_list()
lista_atr

['No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 ...]

In [25]:
# Actualmente se encuentran los datos de forma correcta, presentamos la función futura para dicha columna
def transformar_atr(lista): 
    lista_atrit = []
    
    for atr in lista: 
        
        try:
            if atr.lower() == 'yes' or 'no': 
                lista_atrit.append(atr)  
              
            else: 
                lista_atrit.append(None)   
        except: 
            print('Error de datos')
    
    return lista_atrit

In [26]:
atrit = transformar_atr(lista_atr)
atrit
len(atrit)

1614

In [27]:
# Comprobacion de los datos de la columna 
lista_daily = df_data2["DAILYRATE"].to_list()
lista_daily

['684,0$',
 '699,0$',
 '532,0$',
 '359,0$',
 '1319,0$',
 '117,0$',
 '1435,0$',
 '635,0$',
 '1276,0$',
 '840,0$',
 '247,0$',
 '1369,0$',
 '201,0$',
 '1360,0$',
 '692,0$',
 '1398,0$',
 '286,0$',
 '1402,0$',
 '819,0$',
 '884,0$',
 '1238,0$',
 '515,0$',
 '1223,0$',
 '202,0$',
 '928,0$',
 '607,0$',
 '266,0$',
 '429,0$',
 '589,0$',
 'nan$',
 'nan$',
 '1180,0$',
 '1282,0$',
 '776,0$',
 '665,0$',
 '526,0$',
 '1034,0$',
 '1403,0$',
 '1499,0$',
 '580,0$',
 '859,0$',
 '263,0$',
 '1376,0$',
 '885,0$',
 '1003,0$',
 '1321,0$',
 'nan$',
 '394,0$',
 '1372,0$',
 'nan$',
 '1333,0$',
 '228,0$',
 '737,0$',
 '823,0$',
 '667,0$',
 '301,0$',
 '573,0$',
 'nan$',
 '1329,0$',
 '630,0$',
 'nan$',
 '1063,0$',
 '1017,0$',
 '1296,0$',
 '939,0$',
 '1355,0$',
 '1448,0$',
 '200,0$',
 '1202,0$',
 '404,0$',
 '208,0$',
 '813,0$',
 '465,0$',
 '1189,0$',
 'nan$',
 '1001,0$',
 '1394,0$',
 '161,0$',
 '288,0$',
 '682,0$',
 '1354,0$',
 '147,0$',
 '119,0$',
 '1413,0$',
 '452,0$',
 '334,0$',
 '1132,0$',
 'nan$',
 '982,0$',
 '480,0$',
 '1099,0$',
 '672,0$',
 '1379,0$',
 '583,0$',
 '1492,0$',
 '1050,0$',
 '117,0$',
 '469,0$',
 'nan$',
 '237,0$',
 '1440,0$',
 '1291,0$',
 '1157,0$',
 '1336,0$',
 '1224,0$',
 '735,0$',
 'nan$',
 '1389,0$',
 '638,0$',
 '1240,0$',
 '194,0$',
 '1339,0$',
 '111,0$',
 'nan$',
 '1469,0$',
 '470,0$',
 '1232,0$',
 '1249,0$',
 '117,0$',
 '798,0$',
 '672,0$',
 '549,0$',
 '570,0$',
 '1232,0$',
 '541,0$',
 '164,0$',
 '1117,0$',
 '619,0$',
 '319,0$',
 '956,0$',
 '1245,0$',
 '1397,0$',
 '527,0$',
 '213,0$',
 'nan$',
 '527,0$',
 '882,0$',
 '330,0$',
 '406,0$',
 '217,0$',
 '481,0$',
 '669,0$',
 '1465,0$',
 '685,0$',
 '1062,0$',
 '1099,0$',
 '177,0$',
 '1199,0$',
 '648,0$',
 '412,0$',
 '282,0$',
 '770,0$',
 '601,0$',
 '855,0$',
 '332,0$',
 '1326,0$',
 '748,0$',
 '405,0$',
 '790,0$',
 '1050,0$',
 '971,0$',
 '1370,0$',
 '750,0$',
 '880,0$',
 '678,0$',
 '1179,0$',
 '350,0$',
 '1266,0$',
 '574,0$',
 '189,0$',
 'nan$',
 '692,0$',
 '310,0$',
 '722,0$',
 '1219,0$',
 '994,0$',
 '721,0$',
 '853,0$',
 '427,0$',
 '852,0$',
 '669,0$',
 '1334,0$',
 '1093,0$',
 'nan$',
 '967,0$',
 '465,0$',
 '989,0$',
 '1195,0$',
 '1045,0$',
 '829,0$',
 '663,0$',
 '319,0$',
 '1300,0$',
 '1105,0$',
 '906,0$',
 '849,0$',
 '1275,0$',
 '1218,0$',
 '422,0$',
 '1398,0$',
 '1274,0$',
 '1076,0$',
 '1207,0$',
 '430,0$',
 '933,0$',
 '1184,0$',
 'nan$',
 '586,0$',
 '890,0$',
 '379,0$',
 '1425,0$',
 '1188,0$',
 '938,0$',
 '1053,0$',
 '722,0$',
 '248,0$',
 '796,0$',
 '174,0$',
 '408,0$',
 'nan$',
 '977,0$',
 '536,0$',
 '135,0$',
 '1476,0$',
 '587,0$',
 '495,0$',
 '523,0$',
 '507,0$',
 '1055,0$',
 '1445,0$',
 '218,0$',
 '447,0$',
 '829,0$',
 '1029,0$',
 '674,0$',
 'nan$',
 '538,0$',
 '740,0$',
 '1245,0$',
 '1234,0$',
 '170,0$',
 '1130,0$',
 '584,0$',
 '918,0$',
 '792,0$',
 '611,0$',
 'nan$',
 '1383,0$',
 '867,0$',
 'nan$',
 '574,0$',
 '706,0$',
 '728,0$',
 '311,0$',
 '556,0$',
 '937,0$',
 '1125,0$',
 '1224,0$',
 '119,0$',
 '444,0$',
 '911,0$',
 'nan$',
 '585,0$',
 'nan$',
 '1392,0$',
 '1005,0$',
 'nan$',
 '1299,0$',
 'nan$',
 '655,0$',
 '746,0$',
 '632,0$',
 '658,0$',
 '1467,0$',
 '1312,0$',
 '750,0$',
 '249,0$',
 '802,0$',
 '1355,0$',
 '689,0$',
 '1395,0$',
 '1436,0$',
 '1496,0$',
 '1480,0$',
 'nan$',
 '313,0$',
 '894,0$',
 '290,0$',
 '1084,0$',
 '1002,0$',
 '1242,0$',
 '1052,0$',
 '944,0$',
 '465,0$',
 '771,0$',
 '1416,0$',
 '1327,0$',
 '488,0$',
 '1385,0$',
 '666,0$',
 '1315,0$',
 '442,0$',
 '147,0$',
 '950,0$',
 '218,0$',
 'nan$',
 '691,0$',
 '1018,0$',
 'nan$',
 '559,0$',
 '318,0$',
 '1130,0$',
 '144,0$',
 '1319,0$',
 '933,0$',
 '1171,0$',
 '143,0$',
 '1178,0$',
 '1107,0$',
 '906,0$',
 '645,0$',
 '1485,0$',
 '1116,0$',
 '1276,0$',
 '163,0$',
 '561,0$',
 '426,0$',
 '509,0$',
 '258,0$',
 '525,0$',
 'nan$',
 '238,0$',
 '482,0$',
 '397,0$',
 '243,0$',
 '806,0$',
 '1442,0$',
 '408,0$',
 '929,0$',
 '827,0$',
 'nan$',
 '1018,0$',
 '703,0$',
 '294,0$',
 '314,0$',
 '654,0$',
 '427,0$',
 '501,0$',
 'nan$',
 '954,0$',
 '1434,0$',
 '657,0$',
 '240,0$',
 '791,0$',
 '570,0$',
 '676,0$',
 'nan$',
 '436,0$',
 '760,0$',
 'nan$',
 '661,0$',
 '1085,0$',
 '154,0$',
 '1283,0$',
 '616,0$',
 '498,0$',
 '530,0$',
 '805,0$',
 '903,0$',
 '1229,0$',
 '566,0$',
 '1441,0$',
 '153,0$',
 '1066,0$',
 '135,0$',
 '145,0$',
 '1109,0$',
 '124,0$',
 '300,0$',
 '444,0$',
 '1366,0$',
 '857,0$',
 '1204,0$',
 '827,0$',
 '1219,0$',
 '770,0$',
 '950,0$',
 '1082,0$',
 '203,0$',
 '1308,0$',
 '718,0$',
 '593,0$',
 '1384,0$',
 '819,0$',
 '1223,0$',
 '1361,0$',
 '1146,0$',
 'nan$',
 '853,0$',
 'nan$',
 '1316,0$',
 '363,0$',
 '1103,0$',
 '920,0$',
 '694,0$',
 '1429,0$',
 '531,0$',
 '621,0$',
 '806,0$',
 '604,0$',
 '325,0$',
 '1030,0$',
 '524,0$',
 '943,0$',
 '1009,0$',
 '607,0$',
 '817,0$',
 'nan$',
 'nan$',
 '930,0$',
 '1147,0$',
 '652,0$',
 '337,0$',
 '971,0$',
 '1136,0$',
 '663,0$',
 '326,0$',
 '377,0$',
 '1038,0$',
 '1490,0$',
 '1246,0$',
 '224,0$',
 '441,0$',
 '898,0$',
 'nan$',
 '607,0$',
 '1313,0$',
 '1015,0$',
 'nan$',
 '426,0$',
 '1387,0$',
 '1302,0$',
 '1329,0$',
 '602,0$',
 '772,0$',
 '809,0$',
 'nan$',
 '786,0$',
 '921,0$',
 '530,0$',
 '717,0$',
 '1370,0$',
 '1312,0$',
 '979,0$',
 '1283,0$',
 '953,0$',
 '244,0$',
 '196,0$',
 '303,0$',
 '1180,0$',
 '1092,0$',
 '261,0$',
 '589,0$',
 '1422,0$',
 'nan$',
 '1137,0$',
 '511,0$',
 '1396,0$',
 '1096,0$',
 'nan$',
 '1169,0$',
 '1239,0$',
 '157,0$',
 '954,0$',
 '754,0$',
 '1303,0$',
 '697,0$',
 '1395,0$',
 '501,0$',
 '116,0$',
 '557,0$',
 '582,0$',
 '704,0$',
 'nan$',
 '613,0$',
 '419,0$',
 '477,0$',
 '1211,0$',
 '857,0$',
 '505,0$',
 '269,0$',
 '553,0$',
 '1296,0$',
 '1277,0$',
 '302,0$',
 '427,0$',
 '975,0$',
 '621,0$',
 '1318,0$',
 '249,0$',
 '881,0$',
 '1137,0$',
 '466,0$',
 '945,0$',
 '509,0$',
 '1376,0$',
 '469,0$',
 '994,0$',
 '433,0$',
 '991,0$',
 '482,0$',
 '1083,0$',
 '136,0$',
 '333,0$',
 '685,0$',
 '1462,0$',
 '722,0$',
 'nan$',
 '1277,0$',
 '1131,0$',
 '300,0$',
 '1023,0$',
 '153,0$',
 '1065,0$',
 '1115,0$',
 '1195,0$',
 '1316,0$',
 '665,0$',
 '1479,0$',
 '304,0$',
 '1368,0$',
 '828,0$',
 '799,0$',
 '142,0$',
 '446,0$',
 '691,0$',
 '1246,0$',
 '254,0$',
 '1410,0$',
 '883,0$',
 '304,0$',
 '121,0$',
 '950,0$',
 '1343,0$',
 '827,0$',
 '1107,0$',
 '490,0$',
 '1400,0$',
 '1179,0$',
 '1117,0$',
 '1332,0$',
 '583,0$',
 '465,0$',
 '1413,0$',
 '1200,0$',
 '977,0$',
 '530,0$',
 '1093,0$',
 '1102,0$',
 '809,0$',
 '1328,0$',
 '548,0$',
 '1214,0$',
 'nan$',
 '120,0$',
 '240,0$',
 '441,0$',
 '841,0$',
 '1033,0$',
 'nan$',
 '1452,0$',
 '120,0$',
 '1268,0$',
 'nan$',
 '121,0$',
 'nan$',
 '813,0$',
 '307,0$',
 '228,0$',
 '797,0$',
 '555,0$',
 '1377,0$',
 '210,0$',
 '483,0$',
 '921,0$',
 '575,0$',
 '1311,0$',
 '575,0$',
 '759,0$',
 '891,0$',
 '1082,0$',
 '319,0$',
 '532,0$',
 '317,0$',
 '144,0$',
 '688,0$',
 '195,0$',
 '622,0$',
 '646,0$',
 '719,0$',
 '1012,0$',
 '930,0$',
 '1278,0$',
 '1222,0$',
 '1231,0$',
 '1383,0$',
 '462,0$',
 '231,0$',
 'nan$',
 '1089,0$',
 '1082,0$',
 '1240,0$',
 '1262,0$',
 '439,0$',
 '528,0$',
 '647,0$',
 '1097,0$',
 '942,0$',
 '147,0$',
 '966,0$',
 '168,0$',
 'nan$',
 '1089,0$',
 '299,0$',
 '999,0$',
 '1498,0$',
 '1439,0$',
 '1111,0$',
 '1485,0$',
 '258,0$',
 '1174,0$',
 '172,0$',
 'nan$',
 '401,0$',
 '866,0$',
 '1099,0$',
 '571,0$',
 '676,0$',
 '950,0$',
 '1342,0$',
 '995,0$',
 '118,0$',
 '990,0$',
 '241,0$',
 'nan$',
 '1470,0$',
 '492,0$',
 '1040,0$',
 '1320,0$',
 '146,0$',
 '163,0$',
 '1153,0$',
 '185,0$',
 '750,0$',
 '1297,0$',
 '337,0$',
 '217,0$',
 '1064,0$',
 '1351,0$',
 '930,0$',
 '468,0$',
 'nan$',
 '1218,0$',
 '1273,0$',
 '1141,0$',
 '1488,0$',
 '653,0$',
 '989,0$',
 '1225,0$',
 '530,0$',
 '1217,0$',
 'nan$',
 '142,0$',
 '1127,0$',
 '1189,0$',
 '1427,0$',
 '303,0$',
 '334,0$',
 '702,0$',
 'nan$',
 '926,0$',
 '878,0$',
 '334,0$',
 '896,0$',
 '1401,0$',
 '675,0$',
 '1070,0$',
 '496,0$',
 '1117,0$',
 '1476,0$',
 '390,0$',
 '1220,0$',
 '928,0$',
 '1124,0$',
 '746,0$',
 '1046,0$',
 '1448,0$',
 '1400,0$',
 '1303,0$',
 '587,0$',
 '635,0$',
 '267,0$',
 '443,0$',
 '703,0$',
 '1287,0$',
 '798,0$',
 '1420,0$',
 '562,0$',
 '650,0$',
 '141,0$',
 '715,0$',
 'nan$',
 '376,0$',
 '571,0$',
 '691,0$',
 '932,0$',
 '471,0$',
 '180,0$',
 '638,0$',
 '141,0$',
 '1265,0$',
 '1075,0$',
 '1086,0$',
 '152,0$',
 '974,0$',
 '853,0$',
 '217,0$',
 '715,0$',
 '1234,0$',
 '788,0$',
 '124,0$',
 '921,0$',
 '192,0$',
 'nan$',
 '477,0$',
 '852,0$',
 '1372,0$',
 '1329,0$',
 '150,0$',
 'nan$',
 'nan$',
 '1167,0$',
 '206,0$',
 'nan$',
 '736,0$',
 '322,0$',
 '683,0$',
 '1475,0$',
 '560,0$',
 'nan$',
 'nan$',
 '115,0$',
 'nan$',
 '507,0$',
 '575,0$',
 'nan$',
 '888,0$',
 '580,0$',
 '671,0$',
 '567,0$',
 '311,0$',
 '148,0$',
 '1395,0$',
 '1278,0$',
 '581,0$',
 '1082,0$',
 '371,0$',
 '855,0$',
 '548,0$',
 '429,0$',
 '1181,0$',
 '1253,0$',
 '616,0$',
 '370,0$',
 '1194,0$',
 '572,0$',
 '355,0$',
 '1480,0$',
 '783,0$',
 '1354,0$',
 '682,0$',
 '1103,0$',
 '136,0$',
 '155,0$',
 '771,0$',
 '508,0$',
 '557,0$',
 '642,0$',
 '1382,0$',
 '1037,0$',
 '878,0$',
 '1120,0$',
 '374,0$',
 '1194,0$',
 '287,0$',
 'nan$',
 'nan$',
 '591,0$',
 '670,0$',
 '1346,0$',
 '103,0$',
 '334,0$',
 '371,0$',
 '673,0$',
 '699,0$',
 'nan$',
 '705,0$',
 '1459,0$',
 'nan$',
 '890,0$',
 '1434,0$',
 '1443,0$',
 '1142,0$',
 '664,0$',
 '397,0$',
 'nan$',
 '1153,0$',
 '432,0$',
 '1353,0$',
 '489,0$',
 '807,0$',
 '1420,0$',
 '1280,0$',
 '957,0$',
 '809,0$',
 '542,0$',
 '216,0$',
 '1150,0$',
 'nan$',
 '364,0$',
 '201,0$',
 '1256,0$',
 '691,0$',
 '440,0$',
 '1157,0$',
 '713,0$',
 'nan$',
 '140,0$',
 '629,0$',
 '328,0$',
 '1084,0$',
 'nan$',
 '472,0$',
 '905,0$',
 '1136,0$',
 '1151,0$',
 '644,0$',
 '1005,0$',
 '992,0$',
 '1147,0$',
 '147,0$',
 '1323,0$',
 '818,0$',
 '515,0$',
 '1431,0$',
 '976,0$',
 '1327,0$',
 '832,0$',
 '1199,0$',
 '916,0$',
 '1247,0$',
 '685,0$',
 '128,0$',
 '1158,0$',
 '996,0$',
 '728,0$',
 '688,0$',
 '1449,0$',
 '636,0$',
 '444,0$',
 '889,0$',
 '691,0$',
 '106,0$',
 'nan$',
 '723,0$',
 '1157,0$',
 '1482,0$',
 '738,0$',
 '1192,0$',
 '1309,0$',
 '544,0$',
 '641,0$',
 '756,0$',
 '593,0$',
 '895,0$',
 '408,0$',
 '1283,0$',
 '1469,0$',
 '1261,0$',
 '329,0$',
 '1362,0$',
 '1371,0$',
 '201,0$',
 '821,0$',
 '1381,0$',
 '313,0$',
 '1473,0$',
 '329,0$',
 '688,0$',
 '192,0$',
 '1490,0$',
 '296,0$',
 '1349,0$',
 '986,0$',
 '408,0$',
 '1009,0$',
 '1125,0$',
 '413,0$',
 '988,0$',
 '1474,0$',
 '1368,0$',
 '232,0$',
 '1034,0$',
 '1474,0$',
 'nan$',
 '538,0$',
 '622,0$',
 '1236,0$',
 '1112,0$',
 '204,0$',
 '1343,0$',
 '1315,0$',
 'nan$',
 '991,0$',
 '913,0$',
 '1115,0$',
 '885,0$',
 '810,0$',
 '817,0$',
 '693,0$',
 '1179,0$',
 '316,0$',
 '381,0$',
 '217,0$',
 '933,0$',
 '775,0$',
 '804,0$',
 '1090,0$',
 '346,0$',
 '310,0$',
 '725,0$',
 '575,0$',
 '182,0$',
 '829,0$',
 '384,0$',
 '921,0$',
 '1111,0$',
 '1325,0$',
 '118,0$',
 '1258,0$',
 '890,0$',
 '1041,0$',
 '702,0$',
 '829,0$',
 '625,0$',
 'nan$',
 '661,0$',
 'nan$',
 '986,0$',
 'nan$',
 '583,0$',
 '1418,0$',
 '1269,0$',
 '395,0$',
 '341,0$',
 'nan$',
 '821,0$',
 '500,0$',
 '1454,0$',
 '617,0$',
 '995,0$',
 '1122,0$',
 '1198,0$',
 '188,0$',
 '1219,0$',
 '335,0$',
 '461,0$',
 '1134,0$',
 '138,0$',
 '1206,0$',
 '622,0$',
 '109,0$',
 '277,0$',
 '549,0$',
 '1055,0$',
 '802,0$',
 '265,0$',
 '1038,0$',
 '342,0$',
 '1186,0$',
 '430,0$',
 '769,0$',
 '1176,0$',
 '1277,0$',
 '1091,0$',
 '654,0$',
 '895,0$',
 '618,0$',
 '1017,0$',
 '970,0$',
 ...]

In [70]:
def transformar_daily(df,columna): 
    
    for i, element in enumerate (df[columna]): 
        
        try:
            element = element.split(",")[0]
            int(element)
            df.loc[i, columna] = element
        except: 
            print(f"Error de datos {i, element}")

In [72]:
df_data2.head()

,AGE,ATTRITION,BUSINESSTRAVEL,DAILYRATE,DEPARTMENT,DISTANCEFROMHOME,EDUCATION,EDUCATIONFIELD,EMPLOYEENUMBER,ENVIRONMENTSATISFACTION,...,RELATIONSHIPSATISFACTION,STANDARDHOURS,STOCKOPTIONLEVEL,TOTALWORKINGYEARS,TRAININGTIMESLASTYEAR,WORKLIFEBALANCE,YEARSATCOMPANY,YEARSSINCELASTPROMOTION,YEARSWITHCURRMANAGER,REMOTEWORK
0,51,No,NaN,684,NaN,6,3,NaN,"162,0",1,...,3,NaN,0,NaN,5,"3,0",20,15,15,Yes
1,52,No,NaN,699,NaN,1,4,Life Sciences,"259,0",3,...,1,NaN,1,"34,0",5,"3,0",33,11,9,1
2,42,No,travel_rarely,532,Research & Development,4,2,Technical Degree,"319,0",3,...,4,NaN,0,"22,0",3,NaN,22,11,15,1
3,47,No,travel_rarely,359,NaN,2,4,Medical,NaN,1,...,2,NaN,2,NaN,2,NaN,20,5,6,False
4,46,No,NaN,1319,NaN,3,3,Technical Degree,NaN,1,...,4,NaN,1,NaN,5,"3,0",19,2,8,0

In [71]:
x = transformar_daily(df_data2, "DAILYRATE")

Error de datos (29, 'nan$')
Error de datos (30, 'nan$')
Error de datos (46, 'nan$')
Error de datos (49, 'nan$')
Error de datos (57, 'nan$')
Error de datos (60, 'nan$')
Error de datos (74, 'nan$')
Error de datos (87, 'nan$')
Error de datos (98, 'nan$')
Error de datos (106, 'nan$')
Error de datos (113, 'nan$')
Error de datos (134, 'nan$')
Error de datos (170, 'nan$')
Error de datos (183, 'nan$')
Error de datos (206, 'nan$')
Error de datos (219, 'nan$')
Error de datos (235, 'nan$')
Error de datos (246, 'nan$')
Error de datos (249, 'nan$')
Error de datos (261, 'nan$')
Error de datos (263, 'nan$')
Error de datos (266, 'nan$')
Error de datos (268, 'nan$')
Error de datos (284, 'nan$')
Error de datos (305, 'nan$')
Error de datos (308, 'nan$')
Error de datos (330, 'nan$')
Error de datos (340, 'nan$')
Error de datos (348, 'nan$')
Error de datos (356, 'nan$')
Error de datos (359, 'nan$')
Error de datos (397, 'nan$')
Error de datos (399, 'nan$')
Error de datos (417, 'nan$')
Error de datos (418, 'nan$')
Error de datos (434, 'nan$')
Error de datos (438, 'nan$')
Error de datos (446, 'nan$')
Error de datos (464, 'nan$')
Error de datos (469, 'nan$')
Error de datos (483, 'nan$')
Error de datos (517, 'nan$')
Error de datos (563, 'nan$')
Error de datos (569, 'nan$')
Error de datos (573, 'nan$')
Error de datos (575, 'nan$')
Error de datos (608, 'nan$')
Error de datos (621, 'nan$')
Error de datos (632, 'nan$')
Error de datos (644, 'nan$')
Error de datos (661, 'nan$')
Error de datos (671, 'nan$')
Error de datos (679, 'nan$')
Error de datos (711, 'nan$')
Error de datos (733, 'nan$')
Error de datos (739, 'nan$')
Error de datos (740, 'nan$')
Error de datos (743, 'nan$')
Error de datos (749, 'nan$')
Error de datos (750, 'nan$')
Error de datos (752, 'nan$')
Error de datos (755, 'nan$')
Error de datos (795, 'nan$')
Error de datos (796, 'nan$')
Error de datos (805, 'nan$')
Error de datos (808, 'nan$')
Error de datos (815, 'nan$')
Error de datos (828, 'nan$')
Error de datos (836, 'nan$')
Error de datos (841, 'nan$')
Error de datos (873, 'nan$')
Error de datos (914, 'nan$')
Error de datos (922, 'nan$')
Error de datos (955, 'nan$')
Error de datos (957, 'nan$')
Error de datos (959, 'nan$')
Error de datos (965, 'nan$')
Error de datos (1008, 'nan$')
Error de datos (1017, 'nan$')
Error de datos (1025, 'nan$')
Error de datos (1027, 'nan$')
Error de datos (1029, 'nan$')
Error de datos (1034, 'nan$')
Error de datos (1038, 'nan$')
Error de datos (1043, 'nan$')
Error de datos (1044, 'nan$')
Error de datos (1048, 'nan$')
Error de datos (1053, 'nan$')
Error de datos (1077, 'nan$')
Error de datos (1100, 'nan$')
Error de datos (1126, 'nan$')
Error de datos (1135, 'nan$')
Error de datos (1140, 'nan$')
Error de datos (1145, 'nan$')
Error de datos (1151, 'nan$')
Error de datos (1172, 'nan$')
Error de datos (1187, 'nan$')
Error de datos (1211, 'nan$')
Error de datos (1234, 'nan$')
Error de datos (1237, 'nan$')
Error de datos (1251, 'nan$')
Error de datos (1255, 'nan$')
Error de datos (1256, 'nan$')
Error de datos (1277, 'nan$')
Error de datos (1315, 'nan$')
Error de datos (1328, 'nan$')
Error de datos (1341, 'nan$')
Error de datos (1357, 'nan$')
Error de datos (1365, 'nan$')
Error de datos (1393, 'nan$')
Error de datos (1423, 'nan$')
Error de datos (1449, 'nan$')
Error de datos (1479, 'nan$')
Error de datos (1495, 'nan$')
Error de datos (1506, 'nan$')
Error de datos (1511, 'nan$')
Error de datos (1514, 'nan$')
Error de datos (1548, 'nan$')
Error de datos (1551, 'nan$')
Error de datos (1573, 'nan$')
Error de datos (1583, 'nan$')
Error de datos (1591, 'nan$')
Error de datos (1599, 'nan$')
Error de datos (1602, 'nan$')

In [ ]:
# NEXT STEPS:
# reemplazar lo actual por las nuevas listas que estamos creando