In [1]:
# Importaciones necesarias
import pandas as pd 
import numpy as np
from word2number import w2n
pd.set_option('display.max_columns', None)


# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt

C:\Users\karin\AppData\Local\Temp\ipykernel_8464\4159511942.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df_duplicados = pd.read_csv("../DATA/df_clean_sin_nulos.csv", index_col=0)

DUPLICADOS

In [3]:
a = df_duplicados[df_duplicados.duplicated(keep = False)]

In [4]:
a.groupby("EMPLOYEENUMBER")["EMPLOYEENUMBER"].count().reset_index(name = "count")

Empty DataFrame
Columns: [EMPLOYEENUMBER, count]
Index: []

In [5]:
df_duplicados.drop_duplicates(keep = "first", inplace = True)

In [6]:
df_duplicados.duplicated().sum()

0

In [7]:
df_duplicados.to_csv("../DATA/df_clean_sin_duplicados.csv")

In [8]:
df_duplicados["ENVIRONMENTSATISFACTION"].unique()

array([1, 3, 4, 2], dtype=int64)

# COLUMNA EMPLOYYE NUMBER

In [9]:
df_duplicados.EMPLOYEENUMBER

0         162.0
1         259.0
2         319.0
3       Unknown
4       Unknown
         ...
1609      967.0
1610      972.0
1611    Unknown
1612      990.0
1613    Unknown
Name: EMPLOYEENUMBER, Length: 1614, dtype: object

In [10]:
df_duplicados["EMPLOYEENUMBER"].duplicated()

0       False
1       False
2       False
3       False
4        True
        ...
1609     True
1610     True
1611     True
1612     True
1613     True
Name: EMPLOYEENUMBER, Length: 1614, dtype: bool

In [11]:
df_employee_duplicados = df_duplicados.iloc[list(df_duplicados["EMPLOYEENUMBER"].duplicated())]
df_employee_duplicados

,Unnamed: 0,AGE,ATTRITION,BUSINESSTRAVEL,DEPARTMENT,DISTANCEFROMHOME,EDUCATION,EDUCATIONFIELD,EMPLOYEENUMBER,ENVIRONMENTSATISFACTION,GENDER,HOURLYRATE,JOBINVOLVEMENT,JOBLEVEL,JOBROLE,JOBSATISFACTION,MARITALSTATUS,MONTHLYINCOME,MONTHLYRATE,NUMCOMPANIESWORKED,OVERTIME,PERCENTSALARYHIKE,RELATIONSHIPSATISFACTION,STOCKOPTIONLEVEL,TRAININGTIMESLASTYEAR,WORKLIFEBALANCE,YEARSATCOMPANY,YEARSSINCELASTPROMOTION,YEARSWITHCURRMANAGER,REMOTEWORK,DAILYRATE,PERFORMANCERATING,TOTALWORKINGYEARS
4,4,46.0,no,Unknown,Unknown,3,3,technical degree,Unknown,1,female,45.0,4,4,sales executive,1,divorced,NaN,7739,2,0.0,12,4,1,5,3.0,19,2,8,0,1319.0,3.000000,11.714245
8,8,41.0,no,Unknown,Unknown,2,5,Unknown,Unknown,2,female,91.0,3,4,manager,1,married,16595.0,5626,7,0.0,16,2,1,2,3.0,18,11,8,0,1276.0,3.000000,22.000000
11,11,56.0,no,travel rarely,Unknown,23,3,life sciences,Unknown,4,male,68.0,3,4,manufacturing director,2,married,13402.0,18235,4,1.0,12,1,1,0,3.0,19,15,9,0,1369.0,3.141709,33.000000
12,12,38.0,no,Unknown,Unknown,10,3,medical,Unknown,2,female,99.0,1,3,research director,3,married,13206.0,3376,3,0.0,12,1,1,3,3.0,18,1,11,1,201.0,3.000000,10.849638
14,14,55.0,no,Unknown,Unknown,14,4,medical,Unknown,3,male,61.0,4,5,research director,2,single,NaN,13339,8,0.0,11,4,0,3,3.0,24,2,15,0,692.0,3.000000,11.229354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,1609,36.0,yes,travel rarely,Unknown,3,1,life sciences,967.0,3,male,51.0,2,3,sales executive,4,married,10325.0,5518,1,NaN,11,1,1,6,3.0,16,3,7,0,530.0,3.153740,11.104071
1610,1610,45.0,no,non-travel,Unknown,4,2,Unknown,972.0,3,male,57.0,3,2,laboratory technician,2,Unknown,4447.0,23163,1,NaN,12,2,0,5,2.0,9,0,8,1,805.0,3.000000,11.316743
1611,1611,39.0,no,travel rarely,Unknown,13,5,Unknown,Unknown,1,male,41.0,4,3,sales executive,3,single,NaN,2560,0,0.0,18,4,0,3,3.0,8,0,7,1,903.0,3.000000,9.000000
1612,1612,36.0,no,non-travel,Unknown,8,4,technical degree,990.0,1,male,84.0,3,2,sales executive,4,divorced,NaN,25952,4,0.0,13,4,2,3,3.0,7,0,7,0,1229.0,3.146160,12.000000
1613,1613,46.0,no,Unknown,Unknown,7,2,medical,Unknown,4,male,75.0,3,3,manufacturing director,3,Unknown,10845.0,24208,6,NaN,13,2,1,3,3.0,8,0,7,0,566.0,3.000000,11.131911

In [12]:
df_employee_duplicados["EMPLOYEENUMBER"].value_counts()

EMPLOYEENUMBER
Unknown    430
376.0        1
682.0        1
663.0        1
653.0        1
          ...
433.0        1
424.0        1
423.0        1
1927.0       1
990.0        1
Name: count, Length: 105, dtype: int64

In [13]:
len(df_employee_duplicados["EMPLOYEENUMBER"].to_list())

534

In [14]:
df_employee_967 = df_duplicados[df_duplicados ["EMPLOYEENUMBER"]== "990.0"]
df_employee_967

,Unnamed: 0,AGE,ATTRITION,BUSINESSTRAVEL,DEPARTMENT,DISTANCEFROMHOME,EDUCATION,EDUCATIONFIELD,EMPLOYEENUMBER,ENVIRONMENTSATISFACTION,GENDER,HOURLYRATE,JOBINVOLVEMENT,JOBLEVEL,JOBROLE,JOBSATISFACTION,MARITALSTATUS,MONTHLYINCOME,MONTHLYRATE,NUMCOMPANIESWORKED,OVERTIME,PERCENTSALARYHIKE,RELATIONSHIPSATISFACTION,STOCKOPTIONLEVEL,TRAININGTIMESLASTYEAR,WORKLIFEBALANCE,YEARSATCOMPANY,YEARSSINCELASTPROMOTION,YEARSWITHCURRMANAGER,REMOTEWORK,DAILYRATE,PERFORMANCERATING,TOTALWORKINGYEARS
369,369,36.0,no,non-travel,Unknown,8,4,technical degree,990.0,1,male,84.0,3,2,sales executive,4,divorced,NaN,25952,4,0.0,13,4,2,3,3.0,7,0,7,1,1229.0,3.14616,12.0
1612,1612,36.0,no,non-travel,Unknown,8,4,technical degree,990.0,1,male,84.0,3,2,sales executive,4,divorced,NaN,25952,4,0.0,13,4,2,3,3.0,7,0,7,0,1229.0,3.14616,12.0

In [15]:
df_duplicados["EMPLOYEENUMBER"].dtypes

dtype('O')